/* LoadingSpinner styles */

:root {
  --diameter: 25px;
}

.loading {
  display: block;
  height: var(--diameter);
  width: var(--diameter);
  margin-top: 1rem;
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-right-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
}

@keyframes rotate-forever {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
