/* Navbar Styles */

.username {
  margin-right: 5px;
}

:global .navbar-default {
  background-color: #fff;
  border-color: #e0e0e0;
}

:global .navbar-default .navbar-nav {
  color: #757575;
}

:global .navbar-default .navbar-nav > li > a {
  color: #262626;
  transition: all 0.2s;
}

:global .navbar-default .navbar-nav > li > a:hover {
  box-shadow: inset 0 -3px #bdbdbd;
}

:global .navbar-default .navbar-nav > li > a.active {
  box-shadow: inset 0 -3px #3f51b5;
}