.textSection {
  margin: 3em auto;
}

.textSection:first-child {
  margin-top: 0;
}

.centered {
  text-align: center;
}

.link {
  text-decoration: none;
}

.usernameForm {
  margin-bottom: 1em;
}

.input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.atPrefix {
  color: black;
  margin-left: 0.4em;
}
