/* Global styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: #0462f8;
}

a:hover {
  color: #0462f8;
}